.message-cell {
   -fx-background-color: white;
   -fx-padding: 10;
   -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.5) , 10, 0.0 , 0 , 4 );
}

.message-cell-sender .glyph-icon {
    -glyph-size: 16;
}

.message-cell .message-cell-sender {
    -fx-font-size: 16;
    -fx-background-color: white;
}

.message-cell .message-cell-datetime {
    -fx-background-color: white;
}

.message-cell .message-cell-text {
    -fx-font-weight: normal;
    -fx-text-fill: -fx-color-text;
    -fx-background-color: white;
}