.notification-cell {
   -fx-background-color: white;
   -fx-padding: 10;
   -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.5) , 10, 0.0 , 0 , 4 );
}

.notification-cell-app-name .glyph-icon {
    -glyph-size: 16;
}

.notification-cell .notification-cell-app-name {
    -fx-font-size: 16;
    -fx-background-color: white;
}

.notification-cell .notification-cell-datetime {
    -fx-background-color: white;
}

.notification-cell .notification-cell-title {
    -fx-background-color: white;
}

.notification-cell .notification-cell-text {
    -fx-font-weight: normal;
    -fx-text-fill: -fx-color-text;
    -fx-background-color: white;
}